body {
    background-color: rgb(236, 236, 236);
}

.text-color {
    color: black;
}

.color2 {
    background-color: rgb(206, 206, 206);
}

.test-info {
    color: black;
}

.color3 {
    background-color: rgb(150, 148, 148);
}

.btn-text-color {
    color: black;
}

.highlight {
    background-color: rgb(150, 148, 148);
}

.dur-btn {
    border-right: 4px solid rgb(236, 236, 236);
}

.incorrect-color {
    color: red;
}

.coffee-color {
    color: black;
}

.type-color {
    color: rgb(116, 116, 116);
}