body {
    background-color: #3c4455;
}

.text-color {
    color: #3c4455;
}

.color2 {
    background-color: #a5aebe;
}

.test-info {
    color: #a5aebe;
}

.color3 {
    background-color: #ea567d;
}

.btn-text-color {
    color: #3c4455;
}

.highlight {
    background-color:#858585;
}

.dur-btn {
    border-right: 4px solid #3c4455;
}

.incorrect-color {
    color: #ea567d;
}

.coffee-color {
    color: #a5aebe;
}

.type-color {
    color: #ea567d;
}