body {
    background-color: rgb(34, 33, 33);
}

.text-color {
    color: rgb(240, 240, 240);
}

.color2 {
    background-color: #1b1b1b;
}

.test-info {
    color: rgb(240, 240, 240);
}

.color3 {
    background-color: #c44307;
}

.btn-text-color {
    color: rgb(240, 240, 240);
}

.highlight {
    background-color: #5f5f5f;
}

.dur-btn {
    border-right: 4px solid rgb(34, 33, 33);
}

.incorrect-color {
    color: #c44307;
}

.coffee-color {
    color: rgb(240, 240, 240);
}

.type-color {
    color: #e66e36;
}