<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link id="theme" rel="stylesheet" href="{{url_for('static', filename='styles/themes/gumdrop.css')}}">
    {% block script %}
    {% endblock %}
</head>
<body>
    <div id="navbar">
        <h1 id="title">
            <span class="coffee-color">Coffee</span><span class="type-color">Type</span>
        </h1>
    </div> 
    {% block content %} 
    {% endblock %}
</body>
</html>