<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link id="theme" rel="stylesheet" href="{{url_for('static', filename='styles/themes/gumdrop.css')}}">
    {% block script %}
    {% endblock %}
</head>
<body>
    <ul class="navbar">
        <li class="float-left"><a href="{{ url_for('views.home') }}">Home</a></li>
        <li class="float-left"><a href="{{ url_for('views.settings') }}">Settings</a></li>
        <li class="float-right"><a class="active" href="{{ url_for('views.login') }}">Login</a></li>
    </ul>
    {% block content %} 
    {% endblock %}
</body>
</html>