{% extends "base.html" %}

{% block script %}
<script src="{{ url_for('static', filename='index.js')}}" defer></script>
{% endblock %}

{% block content %}
<span hidden class="text-color"></span>
<span hidden class="incorrect-color"></span>
<div id="flex-container">
        <ul id="option-list" class="btn-text-color">
            <li>
                <select id="wordset" class="color3 option">
                    <option value="200" data-wordset="english">english 200</option>
                    <option value="1000" data-wordset="english">english 1,000</option>
                    <option value="5000" data-wordset="english">english 5,000</option>
                    <option value="10000" data-wordset="english">english 10,000</option>
                    <option value="200" data-wordset="spanish">spanish 200</option>
                    <option value="1000" data-wordset="spanish">spanish 1,000</option>
                    <option value="5000" data-wordset="spanish">spanish 5,000</option>
                    <option value="10000" data-wordset="spanish">spanish 10,000</option>
                </select>
                <!--
                <div class="dropdown">
                    <button id="wordset" class="color3 option">Wordset</button>
                    <div id="wordset-content">
                        <button>wordset 1</button>
                        <button>wordset 2</button>
                    </div>
                </div>
                -->
            </li>
            <li>
                <div id="dur-btn-group">
                    <button id='dur-15' type="button" class="dur-btn color2" value="15">15</button>
                    <button id='dur-30' type="button" class="dur-btn color2" value="30">30</button>
                    <button id='dur-60' type="button" class="dur-btn color2 color3" value="60">60</button>
                    <button id='dur-120' type="button" class="dur-btn color2" value="120">120</button>
                </div>
            </li>
            <li>
                <button type="button" id="quotes" class="color2 option not-timed">Quotes</button>
            </li>
            <li>
                <button type="button" id="punctuation" class="color2 option">Punctuation</button>
            </li>
            <li>
                <button type="button" id="numbers" class="color2 option">Numbers</button>
            </li>
            <li>
                <button type="button" id="special-characters" class="color2 option">Special Characters</button>
            </li>
        </ul>
    <div id="typing">
        <div id="text-box-results">
            <div id="results" class="test-info">
                <p>wpm:       accuracy:    </p>
            </div>
            <div id="text-box" class="color2">
                <p id="line1"></p>
                <p id="line2"></p>
                <p id="line3"></p> 
            </div>
        </div>
        <div id="under-text">

            <input type="text" id="text-input" class="color2 text-color">
            <button id="reload-button" class="color3 btn-text-color">Reload</button>
            <p id="timer" class="test-info">60</p>
        </div>
    </div>
</div>
<div id="theme-dropup" class="btn-text-color">
    <button value="gumdrop" id="cur-theme-btn">gumdrop</button>
    <div id="theme-content">
        <button value="sun scorched" id="sunscorched">sun scorched</button>
        <button value="clay" id="clay">clay</button>
        <button value="gumdrop" id="gumdrop">gumdrop</button>
        <button value="nautilus" id="nautilus">nautilus</button>
        <button value="b&w" id="bandw">b&w</button>
    </div>
</div>
{% endblock %}