body {
    margin: 35px;
}

#navbar {
    margin-bottom: 50px;
}

#title {
    display: inline-block;
    margin: 0;
    font-size: 50px;
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#flex-container {
    display: flex;
}

#option-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 37px;
    width: 210px;
}

#option-list .option {
    border: none;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px; 
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
}

#dur-btn-group {
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%;
    color: inherit;
}

.dur-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
}

.dur-btn:last-child {
    border-right: none;
}

#typing {
    flex: 1;
}

#text-box-results {
    margin: auto;
    width: 80%;
    max-width: 900px;
}

#results {
    float: right;
    width: 500px;
    margin: auto;
    margin-bottom: 5px;
}

#results p {
    margin: 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    white-space:pre;
}

#text-box {
    margin: auto;
    margin-bottom: 8px;
    height: 250px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
    font-size: 33px;
}

#under-text {
    height: 50px;
    width: 420px;
    margin: auto;
}

#text-input {
    height: 100%;    
    width: 250px;
    margin-right: 8px;
    font-size: 25px;
    border-radius: 5px; 
    border-style: hidden;
    padding: 0;
}

#reload-button {
    height: 100%;
    vertical-align: top;
    line-height: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

#timer {
    float: right;
    width: 50px;
    height: 100%;
    margin: 0;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

#option-list .option:hover, #reload-button:hover,
    .dur-btn:hover, #theme-content button:hover, #theme-dropup:hover #cur-theme-btn {
    filter: brightness(.8);
    cursor: pointer;
}

#footer {
    position: fixed;
    left: 50%;
    bottom: 0px;
    margin: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#footer a {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
}

#cur-theme-btn {
    color: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #ea567d;
}

#theme-dropup {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 150px;
}

#theme-content {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;  
}

#theme-content button {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    display: block;
    width: 100%;
    border-radius: 4px;
}

#theme-dropup:hover #theme-content {
    display: block;
}

#gumdrop {
    background-color: #ea567d;
    color: #3c4455;
}

#nautilus {
    background-color: #2b5b93;
    color: #dcb428;
}

#bandw {
    background-color: rgb(150, 148, 148);
    color: black;
}

#clay {
    background-color: #64242c;
    color: #e2d8c8;
}

#sunscorched {
    background-color: #ffe884;
    color: #38496a;
}

#halloween {
    background-color: #c44307;
    color: rgb(240, 240, 240);
}

#coffee {
    background-color: #1c0a00;
    color: #cc9544; 
}