body {
    margin: 35px;
}

.navbar {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 39, 39);
}

#flex-container {
    display: flex;
}

#option-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 37px;
    width: 210px;
}

#option-list .option {
    border: none;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px; 
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#dur-btn-group {
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%;
}

.dur-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.dur-btn:last-child {
    border-right: none;
}

#typing {
    flex: 1;
}

#text-box-results {
    margin: auto;
    width: 80%;
    max-width: 900px;
}

#results {
    float: right;
    width: 500px;
    margin: auto;
    margin-bottom: 5px;
}

#results p {
    margin: 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    white-space:pre;
}

#text-box {
    margin: auto;
    margin-bottom: 8px;
    height: 250px;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
    font-size: 33px;
}

#under-text {
    height: 50px;
    width: 420px;
    margin: auto;
}

#text-input {
    height: 100%;    
    width: 250px;
    margin-right: 8px;
    font-size: 25px;
    border-radius: 5px; 
    border-style: hidden;
    padding: 0;
}

#reload-button {
    height: 100%;
    line-height: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

#timer {
    float: right;
    width: 50px;
    margin: 0;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

#option-list .option:hover, #reload-button:hover, .dur-btn:hover {
    filter: brightness(.8);
    cursor: pointer;
}