body {
    background-color: #3c4455;
    margin: 35px;
}

.color1 {
    color: #3c4455;
}

.color2 {
    background-color: #a5aebe;
}

.color3 {
    background-color: #ea567d;
}

.navbar {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 39, 39);
}

#flex-container {
    display: flex;
}

#option-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    color: #3c4455;
}

#option-list .option {
    border: none;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px; 
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#typing {
    flex: 1;
}

#text-box {
    margin: auto;
    margin-bottom: 8px;
    height: 250px;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
    font-size: 33px;
    font-family: 'Roboto Mono';
}

#under-text {
    height: 50px;
    width: 400px;
    margin: auto;
}

#text-input {
    height: 100%;    
    width: 200px;
    margin-right: 8px;
    font-size: 25px;
    border-radius: 5px; 
    border-style: hidden;
}

#reload-button {
    height: 100%;
    line-height: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

#timer {
    float: right;
    width: 50px;
    margin: 0;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.highlight {
    background-color: rgb(203, 201, 201);
}

#option-list .option:hover, #reload-button:hover {
    filter: brightness(.8);
}